{% extends 'rtemp/base.html' %}
{% load staticfiles %}

{% block content %}
  <p>{{room}}</p>
  <p>Active attendees: {{ count }}</p>
  <p>Current votes: {{ percent }}%
  <div class="thermometer_container">
    <div class="thermometer">
      <div class="stem">
        <div class="fluid" id="fluid" data-status="{{ request.scheme }}://{{ request.get_host }}{% url 'status' room.id %}"></div>
      </div>
    </div>
    <div class="base"></div>
  </div>

  <a id="vote" class="btn btn-primary" data-url = "{{ request.scheme }}://{{ request.get_host }}{% url 'vote' room.id %}" href="#" role="button">Vote</a>
{% endblock %}

{% block js %}
  <script src='/static/javascript/thermometer.js?{% now "U" %}'></script>
{% endblock %}
