{% extends 'rtemp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class='row'>
    <div class="col-lg-4">
      <h2 class='text-center'>{{room}}</h2>
      <p>Active attendees: <span id='attendee_count'>{{ count }}</span></p>
      <p>Current votes: <span id='vote_count'>{{ percent }}</span></p>
      <h3>Join my room!</h3>
      <p>Visit roomte.mp and enter room code <strong>{{ room.code }}</strong></p>

    </div>
    <div class="col-lg-4 col-sm-6">
      <div id='gauge_container' data-status="{{ request.scheme }}://{{ request.get_host }}{% url 'needle_status' room.id %}">
      {% if show_widget %}
        <canvas id='gauge'  style="width: 100%;"></canvas>
      {% endif %}
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 hidden-sm-down">
      <div id='qr'></div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4  col-sm-6 col-lg-offset-4 text-center">
      <a id="vote_thumbs_down" class="btn btn-primary vote_button" data-payload = "-" data-url = "{{ request.scheme }}://{{ request.get_host }}{% url 'vote' room.id %}" href="#" role="button"><span class='big_button glyphicon glyphicon-thumbs-down'></span><br>Dislike</a>
      <a id="vote_thumbs_up" class="btn btn-primary vote_button" data-payload = "+" data-url = "{{ request.scheme }}://{{ request.get_host }}{% url 'vote' room.id %}" href="#" role="button"><span class='big_button glyphicon glyphicon-thumbs-up'></span><br>Like</a>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src='/static/javascript/gauge.min.js'></script>
  <script src='/static/javascript/needle.js?{% now "U" %}'></script>
  <script src='/static/javascript/jquery.qrcode.min.js?{% now "U" %}'></script>
{% endblock %}
